<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>perla0</key>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>64</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>width</key>
			<integer>64</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>perla1</key>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>64</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>width</key>
			<integer>64</integer>
			<key>x</key>
			<integer>64</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>perla2</key>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>64</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>width</key>
			<integer>64</integer>
			<key>x</key>
			<integer>128</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>perla3</key>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>64</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>width</key>
			<integer>64</integer>
			<key>x</key>
			<integer>192</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>perla4</key>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>64</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>width</key>
			<integer>64</integer>
			<key>x</key>
			<integer>256</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>perla5</key>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>64</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>width</key>
			<integer>64</integer>
			<key>x</key>
			<integer>320</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>perla6</key>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>64</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>width</key>
			<integer>64</integer>
			<key>x</key>
			<integer>384</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>perla7</key>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>64</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>width</key>
			<integer>64</integer>
			<key>x</key>
			<integer>448</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>perla8</key>
		<dict>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>64</integer>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>width</key>
			<integer>64</integer>
			<key>x</key>
			<integer>512</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>64</integer>
		<key>width</key>
		<integer>576</integer>
	</dict>
</dict>
</plist>
